In [31]:
import pandas as pd
import geopandas as gpd

from shapely.geometry import Point

import streamlit as st
import folium
from streamlit_folium import folium_static

In [2]:
pd.__version__

'2.2.0'

In [3]:
# df = pd.read_csv('data.csv', encoding='UTF-8',index_col='Id
df = pd.read_excel('data.xlsx')

In [4]:
df.head()

,Id,Barnehage,UTM_X,UTM_Y,Ant_barn,Ant_ansatte,Adresse,Jernbanestasjonen
0,1,Pikhaugen,9.669206,62.591338,35,8,"Pionvegen 1, 7340 Oppdal","'62.5931427','9.6929923'"
1,2,Høgmo barnehage,9.697422,62.599715,40,10,"Gorsetvegen 15, 7340 Oppdal","'62.5931427','9.6929923'"
2,3,Bjerkehagen,9.691496,62.597591,30,7,"Luvegen 5, 7340 Oppdal","'62.5931427','9.6929923'"
3,4,Brennan,9.670819,62.589220,50,12,"Soleieveien 30, 7340 Oppdal","'62.5931427','9.6929923'"

In [7]:
# Convert UTM coordinates to Point geometry
df['geometry'] = [Point(xy) for xy in zip(df.UTM_X, df.UTM_Y)]
# gdf = gpd.GeoDataFrame(df, geometry=gpd.points_from_xy(df.longitude, df.latitude))

# Create a GeoDataFrame
gdf = gpd.GeoDataFrame(df, geometry='geometry')
gdf.set_crs(epsg=4326, inplace=True)

,Id,Barnehage,UTM_X,UTM_Y,Ant_barn,Ant_ansatte,Adresse,Jernbanestasjonen,geometry
0,1,Pikhaugen,9.669206,62.591338,35,8,"Pionvegen 1, 7340 Oppdal","'62.5931427','9.6929923'",POINT (9.66921 62.59134)
1,2,Høgmo barnehage,9.697422,62.599715,40,10,"Gorsetvegen 15, 7340 Oppdal","'62.5931427','9.6929923'",POINT (9.69742 62.59972)
2,3,Bjerkehagen,9.691496,62.597591,30,7,"Luvegen 5, 7340 Oppdal","'62.5931427','9.6929923'",POINT (9.69150 62.59759)
3,4,Brennan,9.670819,62.589220,50,12,"Soleieveien 30, 7340 Oppdal","'62.5931427','9.6929923'",POINT (9.67082 62.58922)

In [8]:
gdf.head()

,Id,Barnehage,UTM_X,UTM_Y,Ant_barn,Ant_ansatte,Adresse,Jernbanestasjonen,geometry
0,1,Pikhaugen,9.669206,62.591338,35,8,"Pionvegen 1, 7340 Oppdal","'62.5931427','9.6929923'",POINT (9.66921 62.59134)
1,2,Høgmo barnehage,9.697422,62.599715,40,10,"Gorsetvegen 15, 7340 Oppdal","'62.5931427','9.6929923'",POINT (9.69742 62.59972)
2,3,Bjerkehagen,9.691496,62.597591,30,7,"Luvegen 5, 7340 Oppdal","'62.5931427','9.6929923'",POINT (9.69150 62.59759)
3,4,Brennan,9.670819,62.589220,50,12,"Soleieveien 30, 7340 Oppdal","'62.5931427','9.6929923'",POINT (9.67082 62.58922)

In [9]:
df = pd.read_excel('data.xlsx')

In [10]:
df.head()

,Id,Barnehage,UTM_X,UTM_Y,Ant_barn,Ant_ansatte,Adresse,Jernbanestasjonen
0,1,Pikhaugen,9.669206,62.591338,35,8,"Pionvegen 1, 7340 Oppdal","'62.5931427','9.6929923'"
1,2,Høgmo barnehage,9.697422,62.599715,40,10,"Gorsetvegen 15, 7340 Oppdal","'62.5931427','9.6929923'"
2,3,Bjerkehagen,9.691496,62.597591,30,7,"Luvegen 5, 7340 Oppdal","'62.5931427','9.6929923'"
3,4,Brennan,9.670819,62.589220,50,12,"Soleieveien 30, 7340 Oppdal","'62.5931427','9.6929923'"

In [11]:
df['voksentetthet'] = df['Ant_ansatte']/df['Ant_barn']

In [12]:
df

,Id,Barnehage,UTM_X,UTM_Y,Ant_barn,Ant_ansatte,Adresse,Jernbanestasjonen,voksentetthet
0,1,Pikhaugen,9.669206,62.591338,35,8,"Pionvegen 1, 7340 Oppdal","'62.5931427','9.6929923'",0.228571
1,2,Høgmo barnehage,9.697422,62.599715,40,10,"Gorsetvegen 15, 7340 Oppdal","'62.5931427','9.6929923'",0.250000
2,3,Bjerkehagen,9.691496,62.597591,30,7,"Luvegen 5, 7340 Oppdal","'62.5931427','9.6929923'",0.233333
3,4,Brennan,9.670819,62.589220,50,12,"Soleieveien 30, 7340 Oppdal","'62.5931427','9.6929923'",0.240000

In [13]:
import folium

# Create a map object centered around an average location
map_center = [df['UTM_Y'].mean(), df['UTM_X'].mean()]
mymap = folium.Map(location=map_center, zoom_start=12)

# Add markers to the map
for idx, row in df.iterrows():
    folium.Circle(
        location=[row['UTM_Y'], row['UTM_X']],
        radius = row['Ant_barn']*5,
            color = 'blue',
            fill_color = 'blue',
            fill = True,          
        popup=f"{row['Barnehage']}<br>Kids: {row['Ant_barn']}<br>Employees: {row['Ant_ansatte']}"
    ).add_to(mymap)

# Display the map
mymap

In [14]:
df

,Id,Barnehage,UTM_X,UTM_Y,Ant_barn,Ant_ansatte,Adresse,Jernbanestasjonen,voksentetthet
0,1,Pikhaugen,9.669206,62.591338,35,8,"Pionvegen 1, 7340 Oppdal","'62.5931427','9.6929923'",0.228571
1,2,Høgmo barnehage,9.697422,62.599715,40,10,"Gorsetvegen 15, 7340 Oppdal","'62.5931427','9.6929923'",0.250000
2,3,Bjerkehagen,9.691496,62.597591,30,7,"Luvegen 5, 7340 Oppdal","'62.5931427','9.6929923'",0.233333
3,4,Brennan,9.670819,62.589220,50,12,"Soleieveien 30, 7340 Oppdal","'62.5931427','9.6929923'",0.240000

In [15]:
def get_color(ratio):
    if ratio > 0.245:
        return 'green'
    elif 0.229 <= ratio < 0.245:
        return 'orange'
    else:
        return 'red'

In [16]:
map_center = [df['UTM_Y'].mean(), df['UTM_X'].mean()]
mymap = folium.Map(location=map_center, zoom_start=12)

# Add circles with colors
for idx, row in df.iterrows():
    folium.Circle(
        location=[row['UTM_Y'], row['UTM_X']],
        popup=f"{row['Barnehage']}<br>Barn: {row['Ant_barn']}<br>Ansatte: {row['Ant_ansatte']}<br>Voksentetthet: {row['voksentetthet']:.2f}",
        radius=row['Ant_barn'] * 10,  # Adjust as necessary
        color=get_color(row['voksentetthet']),
        fill=True,
        fill_color=get_color(row['voksentetthet'])
    ).add_to(mymap)

# Display the map
mymap

In [17]:
gdf

,Id,Barnehage,UTM_X,UTM_Y,Ant_barn,Ant_ansatte,Adresse,Jernbanestasjonen,geometry
0,1,Pikhaugen,9.669206,62.591338,35,8,"Pionvegen 1, 7340 Oppdal","'62.5931427','9.6929923'",POINT (9.66921 62.59134)
1,2,Høgmo barnehage,9.697422,62.599715,40,10,"Gorsetvegen 15, 7340 Oppdal","'62.5931427','9.6929923'",POINT (9.69742 62.59972)
2,3,Bjerkehagen,9.691496,62.597591,30,7,"Luvegen 5, 7340 Oppdal","'62.5931427','9.6929923'",POINT (9.69150 62.59759)
3,4,Brennan,9.670819,62.589220,50,12,"Soleieveien 30, 7340 Oppdal","'62.5931427','9.6929923'",POINT (9.67082 62.58922)

In [18]:
ref_point = df['Jernbanestasjonen'].iloc[0]

In [19]:
# # Assuming your DataFrame is already converted to a GeoDataFrame 'gdf'
# # and both kindergarten and reference point locations are in WGS84 (EPSG:4326)

# ref_point.set_crs(epsg=4326, inplace=True)
# # Reproject to a suitable UTM zone CRS

# ref_point = ref_point.to_crs(epsg=4326, inplace=True)

In [20]:
ref_point_lon = '9.6929923'
ref_point_lat = '62.5931427'

ref_point = Point(ref_point_lon, ref_point_lat)

In [21]:

# Convert kindergarten data to GeoDataFrame
gdf = gpd.GeoDataFrame(df, geometry=gpd.points_from_xy(df.UTM_X, df.UTM_Y))

# Set CRS to WGS84 (if it's not already)
gdf = gdf.set_crs(epsg=4326)

# Find a suitable UTM zone CRS for your region and reproject
gdf = gdf.to_crs(epsg=32632)
ref_point = gpd.GeoSeries([ref_point], crs=4326).to_crs(epsg=32632)[0]

In [22]:
df['AvstandJernbane'] = gdf['geometry'].distance(ref_point)

In [23]:
df

,Id,Barnehage,UTM_X,UTM_Y,Ant_barn,Ant_ansatte,Adresse,Jernbanestasjonen,voksentetthet,AvstandJernbane
0,1,Pikhaugen,9.669206,62.591338,35,8,"Pionvegen 1, 7340 Oppdal","'62.5931427','9.6929923'",0.228571,1238.072002
1,2,Høgmo barnehage,9.697422,62.599715,40,10,"Gorsetvegen 15, 7340 Oppdal","'62.5931427','9.6929923'",0.250000,766.749567
2,3,Bjerkehagen,9.691496,62.597591,30,7,"Luvegen 5, 7340 Oppdal","'62.5931427','9.6929923'",0.233333,501.516166
3,4,Brennan,9.670819,62.589220,50,12,"Soleieveien 30, 7340 Oppdal","'62.5931427','9.6929923'",0.240000,1219.784744

In [32]:
st.title('Kartanalyse barnehager')
folium_static(mymap)

2024-01-28 21:05:30.565
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run /home/joakim/anaconda3/lib/python3.9/site-packages/ipykernel_launcher.py [ARGUMENTS]

DeltaGenerator()